<div class="row justify-content-center">
  <div class="col-md-6 col-lg-6">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-title">Tabs</h4>
          </div>
          <!--end col-->
        </div>
        <!--end row-->
      </div>
      <!--end card-header-->
      <div class="card-body pt-0">
        <ul ngbNav #nav="ngbNav" class="nav nav-tabs" role="tablist">
          <li ngbNavItem class="nav-item">
            <a
              ngbNavLink
              class="nav-link"
              data-bs-toggle="tab"
              role="tab"
              aria-selected="true"
              >Home</a
            >
            <ng-template ngbNavContent>
              <div class="tab-pane p-3" id="home" role="tabpanel">
                <p class="mb-0 text-muted">
                  Raw denim you probably haven't heard of them jean shorts
                  Austin.
                </p>
              </div>
            </ng-template>
          </li>
          <li ngbNavItem class="nav-item">
            <a
              ngbNavLink
              class="nav-link"
              data-bs-toggle="tab"
              role="tab"
              aria-selected="false"
              >Profile</a
            >
            <ng-template ngbNavContent>
              <div class="tab-pane p-3" id="profile" role="tabpanel">
                <p class="mb-0 text-muted">
                  Food truck fixie locavore, accusamus mcsweeney's single-origin
                  coffee squid.
                </p>
              </div>
            </ng-template>
          </li>
          <li ngbNavItem class="nav-item">
            <a
              ngbNavLink
              class="nav-link"
              data-bs-toggle="tab"
              role="tab"
              aria-selected="false"
              >Settings</a
            >
            <ng-template ngbNavContent>
              <div class="tab-pane p-3" id="settings" role="tabpanel">
                <p class="text-muted mb-0">
                  Trust fund seitan letterpress, keytar raw denim keffiyeh etsy.
                </p>
              </div>
            </ng-template>
          </li>
        </ul>

        <div [ngbNavOutlet]="nav" class="tab-content"></div>
      </div>
      <!--end card-body-->
    </div>
    <!--end card-->
  </div>
  <!--end col-->
  <div class="col-md-6 col-lg-6">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-title">Pills</h4>
          </div>
          <!--end col-->
        </div>
        <!--end row-->
      </div>
      <!--end card-header-->
      <div class="card-body pt-0">
        <ul
          ngbNav
          #pillNav="ngbNav"
          class="nav nav-pills nav-justified"
          role="tablist"
        >
          <li ngbNavItem class="nav-item waves-effect waves-light">
            <a
              ngbNavLink
              class="nav-link"
              data-bs-toggle="tab"
              aria-selected="true"
              >Home</a
            >
            <ng-template ngbNavContent>
              <div class="tab-pane p-3" id="home-1" role="tabpanel">
                <p class="text-muted mb-0">
                  Raw denim you probably haven't heard of them jean shorts
                  Austin.
                </p>
              </div>
            </ng-template>
          </li>
          <li ngbNavItem class="nav-item waves-effect waves-light">
            <a
              ngbNavLink
              class="nav-link"
              data-bs-toggle="tab"
              aria-selected="false"
              >Profile</a
            >
            <ng-template ngbNavContent>
              <div class="tab-pane p-3" id="profile-1" role="tabpanel">
                <p class="text-muted mb-0">
                  Food truck fixie locavore, accusamus mcsweeney's single-origin
                  coffee squid.
                </p>
              </div>
            </ng-template>
          </li>
          <li ngbNavItem class="nav-item waves-effect waves-light">
            <a
              ngbNavLink
              class="nav-link"
              data-bs-toggle="tab"
              aria-selected="false"
              >Settings</a
            >
            <ng-template ngbNavContent>
              <div class="tab-pane p-3" id="settings-1" role="tabpanel">
                <p class="text-muted mb-0">
                  Trust fund seitan letterpress, keytar raw denim keffiyeh etsy.
                </p>
              </div>
            </ng-template>
          </li>
        </ul>

        <div [ngbNavOutlet]="pillNav" class="tab-content"></div>
      </div>
      <!--end card-body-->
    </div>
    <!--end card-->
  </div>
  <!--end col-->
</div>
<!--end row-->

<div class="row justify-content-center">
  <div class="col-md-6 col-lg-6">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-title">Vertical Pills</h4>
          </div>
          <!--end col-->
        </div>
        <!--end row-->
      </div>
      <!--end card-header-->
      <div class="card-body pt-0">
        <div class="row">
          <div class="col-lg-3 col-sm-4">
            <div
              ngbNav
              #verticalNav="ngbNav"
              class="nav flex-column nav-pills text-center"
              id="v-pills-tab"
              role="tablist"
              aria-orientation="vertical"
            >
              <ng-container ngbNavItem>
                <a
                  ngbNavLink
                  class="nav-link waves-effect waves-light"
                  id="v-pills-home-tab"
                  data-bs-toggle="pill"
                  href="#v-pills-home"
                  role="tab"
                  aria-controls="v-pills-home"
                  aria-selected="true"
                  >Home</a
                >
                <ng-template ngbNavContent>
                  <div
                    class="tab-pane fade show"
                    id="v-pills-home"
                    role="tabpanel"
                    aria-labelledby="v-pills-home-tab"
                  >
                    <p class="text-muted mb-0">
                      Trust fund seitan letterpress, keytar raw denim keffiyeh
                      etsy art party before they sold out master cleanse
                      gluten-free squid scenester freegan cosby sweater.
                    </p>
                  </div>
                </ng-template>
              </ng-container>
              <ng-container ngbNavItem>
                <a
                  ngbNavLink
                  class="nav-link waves-effect waves-light"
                  id="v-pills-profile-tab"
                  data-bs-toggle="pill"
                  aria-controls="v-pills-profile"
                  aria-selected="false"
                  >Profile</a
                >
                <ng-template ngbNavContent>
                  <div
                    class="tab-pane fade show"
                    id="v-pills-profile"
                    role="tabpanel"
                    aria-labelledby="v-pills-profile-tab"
                  >
                    <p class="text-muted mb-0">
                      Food truck fixie locavore, accusamus mcsweeney's marfa
                      nulla single-origin coffee squid. Exercitation +1 labore
                      velit, blog sartorial PBR leggings next level wes
                      anderson.
                    </p>
                  </div>
                </ng-template>
              </ng-container>
              <ng-container ngbNavItem>
                <a
                  ngbNavLink
                  class="nav-link waves-effect waves-light"
                  id="v-pills-settings-tab"
                  data-bs-toggle="pill"
                  aria-controls="v-pills-settings"
                  aria-selected="false"
                  >Settings</a
                >
                <ng-template ngbNavContent>
                  <div
                    class="tab-pane fade show"
                    id="v-pills-settings"
                    role="tabpanel"
                    aria-labelledby="v-pills-settings-tab"
                  >
                    <p class="text-muted mb-0">
                      Exercitation commodo enim craft beer mlkshk +1 labore
                      velit, blog sartorial PBR leggings next level wes anderson
                      artisan four loko farm-to-table craft beer twee. Qui photo
                      booth letterpress.
                    </p>
                  </div>
                </ng-template>
              </ng-container>
            </div>
          </div>
          <!--end col-->
          <div class="col-lg-9 col-sm-8">
            <div
              [ngbNavOutlet]="verticalNav"
              class="tab-content mo-mt-2"
              id="v-pills-tabContent"
            ></div>
          </div>
          <!--end col-->
        </div>
        <!--end row-->
      </div>
      <!--end card-body-->
    </div>
    <!--end card-->
  </div>
  <!--end col-->
  <div class="col-md-6 col-lg-6">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-title">Custom Tabs</h4>
          </div>
          <!--end col-->
        </div>
        <!--end row-->
      </div>
      <!--end card-header-->
      <div class="card-body pt-0">
        <div class="nav-tabs-custom text-center">
          <ul ngbNav #customNav="ngbNav" class="nav nav-tabs" role="tablist">
            <li ngbNavItem class="nav-item">
              <a
                ngbNavLink
                class="nav-link text-center"
                data-bs-toggle="tab"
                href="#cu_home"
                role="tab"
                ><i class="la la-home d-block"></i>Home</a
              >
              <ng-template ngbNavContent>
                <div class="tab-pane p-3" id="cu_home" role="tabpanel">
                  <p class="mb-0 text-muted">
                    Raw denim you probably haven't heard of them jean shorts
                    Austin.
                  </p>
                </div>
              </ng-template>
            </li>
            <li ngbNavItem class="nav-item">
              <a
                ngbNavLink
                class="nav-link text-center"
                data-bs-toggle="tab"
                href="#cu_profile"
                role="tab"
                ><i class="la la-calendar d-block"></i>Events</a
              >
              <ng-template ngbNavContent>
                <div class="tab-pane p-3" id="cu_profile" role="tabpanel">
                  <p class="mb-0 text-muted">
                    Food truck fixie locavore, accusamus mcsweeney's marfa
                    nulla.
                  </p>
                </div>
              </ng-template>
            </li>
            <li ngbNavItem class="nav-item">
              <a
                ngbNavLink
                class="nav-link text-center"
                data-bs-toggle="tab"
                href="#cu_settings"
                role="tab"
                ><i class="la la-cog d-block"></i>Setings</a
              >
              <ng-template ngbNavContent>
                <div class="tab-pane p-3" id="cu_settings" role="tabpanel">
                  <p class="text-muted mb-0">
                    Trust fund seitan letterpress, keytar raw denim keffiyeh
                    etsy.
                  </p>
                </div>
              </ng-template>
            </li>
          </ul>
        </div>

        <div [ngbNavOutlet]="customNav" class="tab-content"></div>
        <!--end tab-content-->
      </div>
      <!--end card-body-->
    </div>
    <!--end card-->
  </div>
  <!--end col-->
</div>
<!--end row-->

<div class="row justify-content-center">
  <div class="col-md-6 col-lg-6">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-title">Collapse</h4>
          </div>
          <!--end col-->
        </div>
        <!--end row-->
      </div>
      <!--end card-header-->
      <div class="card-body pt-0">
        <p class="d-flex flex-wrap gap-2">
          <a
            class="btn btn-primary"
            data-bs-toggle="collapse"
            (click)="collapse.toggle()"
            aria-expanded="true"
            aria-controls="collapseExample"
          >
            Link with href
          </a>
          <button
            class="btn btn-secondary"
            type="button"
            data-bs-toggle="collapse"
            (click)="isCollapsed = !isCollapsed"
            aria-expanded="true"
            aria-controls="collapseExample"
          >
            Button with data-target
          </button>
        </p>
        <div
          #collapse="ngbCollapse"
          [(ngbCollapse)]="isCollapsed"
          class="collapse show"
          id="collapseExample"
        >
          <div class="mb-0 card-body border-dashed border-theme-color rounded">
            <p class="mb-0 text-muted">
              Anim pariatur cliche reprehenderit, enim eiusmod high life
              accusamus terry richardson ad squid. Nihil anim keffiyeh
              helvetica, craft beer labore wes anderson cred nesciunt sapiente
              ea proident.
            </p>
          </div>
        </div>
      </div>
      <!--end card-body-->
    </div>
    <!--end card-->
  </div>
  <!--end col-->
  <div class="col-md-6 col-lg-6">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-title">Flush Examplee</h4>
          </div>
          <!--end col-->
        </div>
        <!--end row-->
      </div>
      <!--end card-header-->
      <div class="card-body pt-0">
        <div
          ngbAccordion
          [closeOthers]="true"
          class="accordion accordion-flush"
          id="accordionFlushExample"
        >
          <div ngbAccordionItem class="accordion-item">
            <h5
              ngbAccordionHeader
              class="accordion-header m-0"
              id="flush-headingOne"
            >
              <button
                ngbAccordionButton
                class="accordion-button fw-semibold"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne"
                aria-expanded="false"
                aria-controls="flush-collapseOne"
              >
                Accordion Item #1
              </button>
            </h5>
            <div
              ngbAccordionCollapse
              id="flush-collapseOne"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingOne"
              data-bs-parent="#accordionFlushExample"
            >
              <div ngbAccordionBody class="accordion-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life
                accusamus terry richardson ad squid. 3 wolf moon officia aute,
                non cupidatat skateboard dolor brunch. Food truck quinoa
                nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
                put a bird on it squid single-origin coffee nulla assumenda
                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore
                wes anderson cred nesciunt sapiente ea proident. Ad vegan
                excepteur butcher vice lomo. Leggings occaecat craft beer
                farm-to-table, raw denim aesthetic synth nesciunt you probably
                haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
          <div ngbAccordionItem class="accordion-item">
            <h5
              ngbAccordionHeader
              class="accordion-header m-0"
              id="flush-headingTwo"
            >
              <button
                ngbAccordionButton
                class="accordion-button fw-semibold"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo"
                aria-expanded="false"
                aria-controls="flush-collapseTwo"
              >
                Accordion Item #2
              </button>
            </h5>
            <div
              ngbAccordionCollapse
              id="flush-collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingTwo"
              data-bs-parent="#accordionFlushExample"
            >
              <div ngbAccordionBody class="accordion-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life
                accusamus terry richardson ad squid. 3 wolf moon officia aute,
                non cupidatat skateboard dolor brunch. Food truck quinoa
                nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
                put a bird on it squid single-origin coffee nulla assumenda
                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore
                wes anderson cred nesciunt sapiente ea proident. Ad vegan
                excepteur butcher vice lomo. Leggings occaecat craft beer
                farm-to-table, raw denim aesthetic synth nesciunt you probably
                haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
          <div ngbAccordionItem class="accordion-item">
            <h5
              ngbAccordionHeader
              class="accordion-header m-0"
              id="flush-headingThree"
            >
              <button
                ngbAccordionButton
                class="accordion-button fw-semibold"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree"
                aria-expanded="false"
                aria-controls="flush-collapseThree"
              >
                Accordion Item #3
              </button>
            </h5>
            <div
              ngbAccordionCollapse
              id="flush-collapseThree"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingThree"
              data-bs-parent="#accordionFlushExample"
            >
              <div ngbAccordionBody class="accordion-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life
                accusamus terry richardson ad squid. 3 wolf moon officia aute,
                non cupidatat skateboard dolor brunch. Food truck quinoa
                nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
                put a bird on it squid single-origin coffee nulla assumenda
                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore
                wes anderson cred nesciunt sapiente ea proident. Ad vegan
                excepteur butcher vice lomo. Leggings occaecat craft beer
                farm-to-table, raw denim aesthetic synth nesciunt you probably
                haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--end card-body-->
    </div>
    <!--end card-->
  </div>
  <!--end col-->
</div>
<!--end row-->
<div class="row justify-content-center">
  <div class="col-md-6 col-lg-6">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-title">Accordion Example</h4>
          </div>
          <!--end col-->
        </div>
        <!--end row-->
      </div>
      <!--end card-header-->
      <div class="card-body pt-0">
        <div
          ngbAccordion
          [closeOthers]="true"
          class="accordion"
          id="accordionExample"
        >
          <div ngbAccordionItem [collapsed]="false" class="accordion-item">
            <h5 ngbAccordionHeader class="accordion-header m-0" id="headingOne">
              <button
                ngbAccordionButton
                class="accordion-button fw-semibold"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                Accordion Item #1
              </button>
            </h5>
            <div
              ngbAccordionCollapse
              id="collapseOne"
              class="accordion-collapse collapse show"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionExample"
            >
              <div ngbAccordionBody class="accordion-body">
                <strong>This is the first item's accordion body.</strong> It is
                hidden by default, until the collapse plugin adds the
                appropriate classes that we use to style each element. These
                classes control the overall appearance, as well as the showing
                and hiding via CSS transitions. You can modify any of this with
                custom CSS or overriding our default variables. It's also worth
                noting that just about any HTML can go within the
                <code>.accordion-body</code>, though the transition does limit
                overflow.
              </div>
            </div>
          </div>
          <div ngbAccordionItem class="accordion-item">
            <h5 ngbAccordionHeader class="accordion-header m-0" id="headingTwo">
              <button
                ngbAccordionButton
                class="accordion-button fw-semibold"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                Accordion Item #2
              </button>
            </h5>
            <div
              ngbAccordionCollapse
              id="collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample"
            >
              <div ngbAccordionBody class="accordion-body">
                <strong>This is the second item's accordion body.</strong> It is
                hidden by default, until the collapse plugin adds the
                appropriate classes that we use to style each element. These
                classes control the overall appearance, as well as the showing
                and hiding via CSS transitions. You can modify any of this with
                custom CSS or overriding our default variables. It's also worth
                noting that just about any HTML can go within the
                <code>.accordion-body</code>, though the transition does limit
                overflow.
              </div>
            </div>
          </div>
          <div ngbAccordionItem class="accordion-item">
            <h5
              ngbAccordionHeader
              class="accordion-header m-0"
              id="headingThree"
            >
              <button
                ngbAccordionButton
                class="accordion-button fw-semibold"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                Accordion Item #3
              </button>
            </h5>
            <div
              ngbAccordionCollapse
              id="collapseThree"
              class="accordion-collapse collapse"
              aria-labelledby="headingThree"
              data-bs-parent="#accordionExample"
            >
              <div ngbAccordionBody class="accordion-body">
                <strong>This is the third item's accordion body.</strong> It is
                hidden by default, until the collapse plugin adds the
                appropriate classes that we use to style each element. These
                classes control the overall appearance, as well as the showing
                and hiding via CSS transitions. You can modify any of this with
                custom CSS or overriding our default variables. It's also worth
                noting that just about any HTML can go within the
                <code>.accordion-body</code>, though the transition does limit
                overflow.
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--end card-body-->
    </div>
    <!--end card-->
  </div>
  <!--end col-->
  <div class="col-md-6 col-lg-6">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-title">Always open</h4>
          </div>
          <!--end col-->
        </div>
        <!--end row-->
      </div>
      <!--end card-header-->
      <div class="card-body pt-0">
        <div ngbAccordion class="accordion" id="accordionPanelsStayOpenExample">
          <div ngbAccordionItem [collapsed]="false" class="accordion-item">
            <h2 ngbAccordionHeader class="accordion-header">
              <button
                ngbAccordionButton
                class="accordion-button fw-semibold"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseOne"
                aria-expanded="true"
                aria-controls="panelsStayOpen-collapseOne"
              >
                Accordion Item #1
              </button>
            </h2>
            <div
              ngbAccordionCollapse
              id="panelsStayOpen-collapseOne"
              class="accordion-collapse collapse show"
            >
              <div ngbAccordionBody class="accordion-body">
                <strong>This is the first item's accordion body.</strong> It is
                shown by default, until the collapse plugin adds the appropriate
                classes that we use to style each element. These classes control
                the overall appearance, as well as the showing and hiding via
                CSS transitions. You can modify any of this with custom CSS or
                overriding our default variables. It's also worth noting that
                just about any HTML can go within the
                <code>.accordion-body</code>, though the transition does limit
                overflow.
              </div>
            </div>
          </div>
          <div ngbAccordionItem class="accordion-item">
            <h2 ngbAccordionHeader class="accordion-header">
              <button
                ngbAccordionButton
                class="accordion-button fw-semibold"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseTwo"
                aria-expanded="false"
                aria-controls="panelsStayOpen-collapseTwo"
              >
                Accordion Item #2
              </button>
            </h2>
            <div
              ngbAccordionCollapse
              id="panelsStayOpen-collapseTwo"
              class="accordion-collapse collapse"
            >
              <div ngbAccordionBody class="accordion-body">
                <strong>This is the second item's accordion body.</strong> It is
                hidden by default, until the collapse plugin adds the
                appropriate classes that we use to style each element. These
                classes control the overall appearance, as well as the showing
                and hiding via CSS transitions. You can modify any of this with
                custom CSS or overriding our default variables. It's also worth
                noting that just about any HTML can go within the
                <code>.accordion-body</code>, though the transition does limit
                overflow.
              </div>
            </div>
          </div>
          <div ngbAccordionItem class="accordion-item">
            <h2 ngbAccordionHeader class="accordion-header">
              <button
                ngbAccordionButton
                class="accordion-button fw-semibold"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseThree"
                aria-expanded="false"
                aria-controls="panelsStayOpen-collapseThree"
              >
                Accordion Item #3
              </button>
            </h2>
            <div
              ngbAccordionCollapse
              id="panelsStayOpen-collapseThree"
              class="accordion-collapse collapse"
            >
              <div ngbAccordionBody class="accordion-body">
                <strong>This is the third item's accordion body.</strong> It is
                hidden by default, until the collapse plugin adds the
                appropriate classes that we use to style each element. These
                classes control the overall appearance, as well as the showing
                and hiding via CSS transitions. You can modify any of this with
                custom CSS or overriding our default variables. It's also worth
                noting that just about any HTML can go within the
                <code>.accordion-body</code>, though the transition does limit
                overflow.
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--end card-body-->
    </div>
    <!--end card-->
  </div>
  <!--end col-->
</div>
<!--end row-->
