<div class="row">
  <div class="col-lg-6">
    <h5 class="mt-4">Terms And Condition :</h5>
    <ul class="ps-3">
      <li>
        <small class="fs-12"
          >All accounts are to be paid within 7 days from receipt of invoice.
        </small>
      </li>
      <li>
        <small class="fs-12"
          >To be paid by cheque or credit card or direct payment online.</small
        >
      </li>
      <li>
        <small class="fs-12">
          If account is not paid within 7 days the credits details supplied as
          confirmation of work undertaken will be charged the agreed quoted fee
          noted above.</small
        >
      </li>
    </ul>
  </div>
  <!--end col-->
  <div class="col-lg-6 align-self-center">
    <div class="float-none float-md-end" style="width: 30%">
      <small>Account Manager</small><br />
      <img
        src="assets/images/extra/signature.png"
        alt=""
        class="mt-2 mb-1"
        height="24"
      />
      <p class="border-top">Signature</p>
    </div>
  </div>
  <!--end col-->
</div>
<!--end row-->
