<div class="card" style="background-color: #ffd88e3b">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <h6 class="mb-2 mt-1 fw-medium text-dark fs-18">Notifications</h6>
        <p class="text-body fs-14">
          Contrary to popular belief, Lorem Ipsum is not simply random text. It
          has roots in a piece of classical <br />
          Latin literature from 45 BC, making it over 2000 years old.
        </p>
        <button type="button" class="btn btn-warning px-2">View All</button>
      </div>
      <!--end col-->
      <div class="col-auto align-self-center">
        <img
          src="assets/images/extra/card/notification.gif"
          alt=""
          height="90"
          class="rounded"
        />
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end card-body-->
</div>
<!--end card-->
