<div class="card">
  <div class="card-body">
    <div class="row align-items-center">
      <div class="col">
        <div class="d-flex align-items-center">
          <div class="position-relative">
            <img
              src="assets/images/users/avatar-8.jpg"
              alt=""
              class="rounded-circle img-fluid"
            />
            <div class="position-absolute top-50 start-100 translate-middle">
              <img
                src="assets/images/flags/baha_flag.jpg"
                alt=""
                class="rounded-circle thumb-sm border border-3 border-white"
              />
            </div>
          </div>
          <div class="flex-grow-1 text-truncate ms-3">
            <h5 class="m-0 fs-3 fw-bold">Karen Savage</h5>
            <p class="text-muted mb-0">&#64;karen</p>
          </div>
          <!--end media body-->
        </div>
        <!--end media-->
      </div>
      <!--end col-->
      <div class="col-auto text-end">
        <button
          type="button"
          class="btn btn-sm btn-outline-primary px-2 d-inline-flex align-items-center"
        >
          <i class="iconoir-chat-bubble fs-14 me-1"></i>Message
        </button>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
    <div class="mt-3">
      <div class="text-body mb-2 d-flex align-items-center">
        <i class="iconoir-language fs-20 me-1 text-muted"></i
        ><span class="text-body fw-semibold">Language :</span> English / French
        / Spanish
      </div>
      <div class="text-muted mb-2 d-flex align-items-center">
        <i class="iconoir-mail-out fs-20 me-1"></i
        ><span class="text-body fw-semibold">Email :</span
        ><a
          href="javascript:void(0);"
          class="text-primary text-decoration-underline"
          >example&#64;example.com</a
        >
      </div>
      <div class="text-body mb-3 d-flex align-items-center">
        <i class="iconoir-phone fs-20 me-1 text-muted"></i
        ><span class="text-body fw-semibold">Phone :</span> +1 123 456 789
      </div>
      <ul class="mb-0 list-unstyled">
        <li class="list-inline-item me-0.5">
          <a
            href="javascript:void(0);"
            class="d-flex justify-content-center align-items-center thumb-md rounded-circle mx-auto social twitter"
          >
            <i class="icofont-twitter fs-18 align-self-center mb-0"></i>
          </a>
        </li>
        <li class="list-inline-item me-0.5 ms-0.5">
          <a
            href="javascript:void(0);"
            class="d-flex justify-content-center align-items-center thumb-md rounded-circle mx-auto social instagram"
          >
            <i class="icofont-instagram fs-18 align-self-center mb-0"></i>
          </a>
        </li>
        <li class="list-inline-item ms-0.5">
          <a
            href="javascript:void(0);"
            class="d-flex justify-content-center align-items-center thumb-md rounded-circle mx-auto social facebook"
          >
            <i class="icofont-facebook fs-18 align-self-center mb-0"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!--end card-body-->
</div>
<!--end card-->
