<div class="row justify-content-center">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-title animate-flip infinite">Magic Animation</h4>
          </div>
          <!--end col-->
        </div>
        <!--end row-->
      </div>
      <!--end card-header-->
      <div class="card-body pt-0">
        <div class="text-center">
          <div class="position-relative d-inline-block mx-auto">
            <div id="animate-me">
              <div class="shadow-sm p-4 d-inline-block rounded-circle">
                <img src="assets/images/logo-sm.png" alt="" class="center-block thumb-xl" />
              </div>
            </div>
          </div>
        </div>
        <div class="mt-5">
          <div class="row">
            <div id="content" class="col-lg-6 mx-auto text-center button-list container-magic-bottom container text-center">
              <ngx-simplebar style="height: 450px" data-simplebar>
                <h5 class="my-3 fs-15">Magic Effects</h5>
                <button type="button" class="btn btn-outline-secondary btn-sm mb-1 me-0.5" appMagic="vanishIn">
                  Magic
                </button>

                <button type="button" class="btn btn-outline-secondary btn-sm btn-animation mb-1 me-0.5" appMagic="twisterInDown">
                  TwisterInDown
                </button>

                <button type="button" class="btn btn-outline-secondary btn-sm btn-animation mb-1 me-0.5" appMagic="twisterInUp">
                  TwisterInUp
                </button>

                <button type="button" class="btn btn-outline-secondary btn-sm btn-animation mb-1" appMagic="swap">
                  Swap
                </button>

                <h5 class="my-3 fs-15">Bling</h5>

                <button type="button" class="btn btn-outline-secondary btn-sm btn-animation mb-1 me-0.5" appMagic="puffIn">
                  PuffIn
                </button>

                <button type="button" class="btn btn-outline-secondary btn-sm btn-animation mb-1 me-0.5" appMagic="puffOut">
                  PuffOut
                </button>

                <button type="button" class="btn btn-outline-secondary btn-sm btn-animation mb-1 me-0.5" appMagic="vanishIn">
                  VanishIn
                </button>

                <button type="button" class="btn btn-outline-secondary btn-sm btn-animation mb-1" appMagic="vanishOut">
                  VanishOut
                </button>

                <h5 class="my-3 fs-15">Static Effects</h5>

                <button type="button" class="btn btn-outline-secondary btn-sm btn-animation mb-1 me-0.5" appMagic="openDownLeft">
                  OpenDownLeft
                </button>

                <button type="button" class="btn btn-outline-secondary btn-sm btn-animation mb-1 me-0.5" appMagic="openDownRight">
                  OpenDownRight
                </button>

                <button type="button" class="btn btn-outline-secondary btn-sm btn-animation mb-1 me-0.5" appMagic="openUpLeft">
                  OpenUpLeft
                </button>

                <button type="button" class="btn btn-outline-secondary btn-sm btn-animation mb-1 me-0.5" appMagic="openUpRight">
                  OpenUpRight
                </button>

                <button type="button" class="btn btn-outline-secondary btn-sm btn-animation mb-1" appMagic="openDownLeftReturn">
                  OpenDownLeftReturn
                </button>

                <button type="button" class="btn btn-outline-secondary btn-sm btn-animation mb-1 me-0.5" appMagic="openDownRightReturn">
                  OpenDownRightReturn
                </button>

                <button type="button" class="btn btn-outline-secondary btn-sm btn-animation mb-1 me-0.5" appMagic="openUpLeftReturn">
                  OpenUpLeftReturn
                </button>

                <button type="button" class="btn btn-outline-secondary btn-sm btn-animation mb-1" appMagic="openUpRightReturn">
                  OpenUpRightReturn
                </button>

                <h5 class="my-3 fs-15">Static Effects Out</h5>

                <button type="button" class="btn btn-outline-secondary btn-sm btn-animation mb-1 me-0.5" appMagic="openDownLeftOut">
                  OpenDownLeftOut
                </button>

                <button type="button" class="btn btn-outline-secondary btn-sm btn-animation mb-1 me-0.5" appMagic="openDownRightOut">
                  OpenDownRightOut
                </button>

                <button type="button" class="btn btn-outline-secondary btn-sm btn-animation mb-1 me-0.5" appMagic="openUpLeftOut">
                  OpenUpLeftOut
                </button>

                <button type="button" class="btn btn-outline-secondary btn-sm btn-animation mb-1" appMagic="openUpRightOut">
                  OpenUpRightOut
                </button>

                <h5 class="my-3 fs-15">Perspective</h5>

                <button type="button" class="btn btn-outline-secondary btn-sm btn-animation mb-1 me-0.5" appMagic="perspectiveDown">
                  PerspectiveDown
                </button>

                <button type="button" class="btn btn-outline-secondary btn-sm btn-animation mb-1 me-0.5" appMagic="perspectiveUp">
                  PerspectiveUp
                </button>

                <button type="button" class="btn btn-outline-secondary btn-sm btn-animation mb-1 me-0.5" appMagic="perspectiveLeft">
                  PerspectiveLeft
                </button>

                <button type="button" class="btn btn-outline-secondary btn-sm btn-animation mb-1" appMagic="perspectiveRight">
                  PerspectiveRight
                </button>

                <button type="button" class="btn btn-outline-secondary btn-sm btn-animation mb-1 me-0.5" appMagic="perspectiveDownReturn">
                  PerspectiveDownReturn
                </button>

                <button type="button" class="btn btn-outline-secondary btn-sm btn-animation mb-1 me-0.5" appMagic="perspectiveUpReturn">
                  PerspectiveUpReturn
                </button>

                <button type="button" class="btn btn-outline-secondary btn-sm btn-animation mb-1" appMagic="perspectiveLeftReturn">
                  PerspectiveLeftReturn
                </button>

                <button type="button" class="btn btn-outline-secondary btn-sm btn-animation mb-1" appMagic="perspectiveRightReturn">
                  PerspectiveRightReturn
                </button>

                <h5 class="my-3 fs-15">Rotate</h5>

                <button type="button" class="btn btn-outline-secondary btn-sm btn-animation mb-1 me-0.5" appMagic="rotateDown">
                  RotateDown
                </button>

                <button type="button" class="btn btn-outline-secondary btn-sm btn-animation mb-1 me-0.5" appMagic="rotateUp">
                  RotateUp
                </button>

                <button type="button" class="btn btn-outline-secondary btn-sm btn-animation mb-1 me-0.5" appMagic="rotateLeft">
                  RotateLeft
                </button>

                <button type="button" class="btn btn-outline-secondary btn-sm btn-animation mb-1" appMagic="rotateRight">
                  RotateRight
                </button>

                <h5 class="my-3 fs-15">Slide</h5>

                <button type="button" class="btn btn-outline-secondary btn-sm btn-animation mb-1 me-0.5" appMagic="slideDown">
                  SlideDown
                </button>

                <button type="button" class="btn btn-outline-secondary btn-sm btn-animation mb-1 me-0.5" appMagic="slideUp">
                  SlideUp
                </button>

                <button type="button" class="btn btn-outline-secondary btn-sm btn-animation mb-1 me-0.5" appMagic="slideLeft">
                  SlideLeft
                </button>

                <button type="button" class="btn btn-outline-secondary btn-sm btn-animation mb-1 me-0.5" appMagic="slideRight">
                  SlideRight
                </button>

                <button type="button" class="btn btn-outline-secondary btn-sm btn-animation mb-1 me-0.5" appMagic="slideDownReturn">
                  SlideDownReturn
                </button>

                <button type="button" class="btn btn-outline-secondary btn-sm btn-animation mb-1" appMagic="slideUpReturn">
                  SlideUpReturn
                </button>

                <button type="button" class="btn btn-outline-secondary btn-sm btn-animation mb-1 me-0.5" appMagic="slideLeftReturn">
                  SlideLeftReturn
                </button>

                <button type="button" class="btn btn-outline-secondary btn-sm btn-animation mb-1" appMagic="slideRightReturn">
                  SlideRightReturn
                </button>

                <h5 class="my-3 fs-15">Math</h5>

                <button type="button" class="btn btn-outline-secondary btn-sm btn-animation mb-1 me-0.5" appMagic="swashOut">
                  SwashOut
                </button>

                <button type="button" class="btn btn-outline-secondary btn-sm btn-animation mb-1 me-0.5" appMagic="swashIn">
                  SwashIn
                </button>

                <button type="button" class="btn btn-outline-secondary btn-sm btn-animation mb-1 me-0.5" appMagic="foolishIn">
                  FoolishIn
                </button>

                <button type="button" class="btn btn-outline-secondary btn-sm btn-animation mb-1" appMagic="holeOut">
                  HoleOut
                </button>

                <h5 class="my-3 fs-15">Tin</h5>

                <button type="button" class="btn btn-outline-secondary btn-sm btn-animation mb-1 me-0.5" appMagic="tinRightOut">
                  TinRightOut
                </button>

                <button type="button" class="btn btn-outline-secondary btn-sm btn-animation mb-1 me-0.5" appMagic="tinLeftOut">
                  TinLeftOut
                </button>

                <button type="button" class="btn btn-outline-secondary btn-sm btn-animation mb-1 me-0.5" appMagic="tinUpOut">
                  TinUpOut
                </button>

                <button type="button" class="btn btn-outline-secondary btn-sm btn-animation mb-1 me-0.5" appMagic="tinDownOut">
                  TinDownOut
                </button>

                <button type="button" class="btn btn-outline-secondary btn-sm btn-animation mb-1 me-0.5" appMagic="tinRightIn">
                  TinRightIn
                </button>

                <button type="button" class="btn btn-outline-secondary btn-sm btn-animation mb-1 me-0.5" appMagic="tinLeftIn">
                  TinLeftIn
                </button>

                <button type="button" class="btn btn-outline-secondary btn-sm btn-animation mb-1" appMagic="tinUpIn">
                  TinUpIn
                </button>

                <button type="button" class="btn btn-outline-secondary btn-sm btn-animation mb-1" appMagic="tinDownIn">
                  TinDownIn
                </button>

                <h5 class="my-3 fs-15">Bomb</h5>

                <button type="button" class="btn btn-outline-secondary btn-sm btn-animation mb-1 me-0.5" appMagic="bombRightOut">
                  BombRightOut
                </button>

                <button type="button" class="btn btn-outline-secondary btn-sm btn-animation mb-1" appMagic="bombLeftOut">
                  BombLeftOut
                </button>

                <h5 class="my-3 fs-15">Boing</h5>

                <button type="button" class="btn btn-outline-secondary btn-sm btn-animation mb-1 me-0.5" appMagic="boingInUp">
                  BoingInUp
                </button>

                <button type="button" class="btn btn-outline-secondary btn-sm btn-animation mb-1" appMagic="boingOutDown">
                  BoingOutDown
                </button>

                <h5 class="my-3 fs-15">On The Space</h5>

                <button type="button" class="btn btn-outline-secondary btn-sm btn-animation mb-1 me-0.5" appMagic="spaceOutUp">
                  SpaceOutUp
                </button>

                <button type="button" class="btn btn-outline-secondary btn-sm btn-animation mb-1 me-0.5" appMagic="spaceOutRight">
                  SpaceOutRight
                </button>

                <button type="button" class="btn btn-outline-secondary btn-sm btn-animation mb-1 me-0.5" appMagic="spaceOutDown">
                  SpaceOutDown
                </button>

                <button type="button" class="btn btn-outline-secondary btn-sm btn-animation mb-1 me-0.5" appMagic="spaceOutLeft">
                  SpaceOutLeft
                </button>

                <button type="button" class="btn btn-outline-secondary btn-sm btn-animation mb-1" appMagic="spaceInUp">
                  SpaceInUp
                </button>

                <button type="button" class="btn btn-outline-secondary btn-sm btn-animation mb-1 me-0.5" appMagic="spaceInRight">
                  SpaceInRight
                </button>

                <button type="button" class="btn btn-outline-secondary btn-sm btn-animation mb-1 me-0.5" appMagic="spaceInDown">
                  SpaceInDown
                </button>

                <button type="button" class="btn btn-outline-secondary btn-sm btn-animation mb-1" appMagic="spaceInLeft">
                  SpaceInLeft
                </button>
              </ngx-simplebar>
            </div>
          </div>
        </div>
      </div>
      <!--end card-body-->
    </div>
    <!--end card-->
  </div>
  <!--end col-->
</div>
<!--end row-->