<div class="card">
  <card-title title="Audience Overview" selected="This Year" />
  <div class="card-body pt-0">
    <div id="audience_overview" class="apex-charts">
      <apx-chart
        [chart]="audienceCharts.chart!"
        [annotations]="audienceCharts.annotations!"
        [colors]="audienceCharts.colors!"
        [dataLabels]="audienceCharts.dataLabels!"
        [stroke]="audienceCharts.stroke!"
        [series]="audienceCharts.series!"
        [labels]="audienceCharts.labels!"
        [yaxis]="audienceCharts.yaxis!"
        [grid]="audienceCharts.grid!"
        [legend]="audienceCharts.legend!"
        [fill]="audienceCharts.fill!"
      ></apx-chart>
    </div>
  </div>
  <!--end card-body-->
</div>
