<form class="row g-2">
  <div ngbDropdown class="col-auto">
    <a
      ngbDropdownToggle
      class="btn bg-primary-subtle text-primary dropdown-toggle d-flex align-items-center arrow-none"
      data-bs-toggle="dropdown"
      role="button"
      aria-haspopup="false"
      aria-expanded="false"
      data-bs-auto-close="outside"
    >
      <i class="iconoir-filter-alt me-1"></i> Filter
    </a>
    <div ngbDropdownMenu class="dropdown-menu dropdown-menu-start">
      <div class="p-2">
        <div class="form-check mb-2">
          <input
            type="checkbox"
            class="form-check-input"
            checked
            id="filter-all"
          />
          <label class="form-check-label" for="filter-all"> All </label>
        </div>
        <div class="form-check mb-2">
          <input
            type="checkbox"
            class="form-check-input"
            checked
            id="filter-one"
          />
          <label class="form-check-label" for="filter-one"> New </label>
        </div>
        <div class="form-check mb-2">
          <input
            type="checkbox"
            class="form-check-input"
            checked
            id="filter-two"
          />
          <label class="form-check-label" for="filter-two"> VIP </label>
        </div>
        <div class="form-check mb-2">
          <input
            type="checkbox"
            class="form-check-input"
            checked
            id="filter-three"
          />
          <label class="form-check-label" for="filter-three"> Repeat </label>
        </div>
        <div class="form-check mb-2">
          <input
            type="checkbox"
            class="form-check-input"
            checked
            id="filter-four"
          />
          <label class="form-check-label" for="filter-four"> Referral </label>
        </div>
        <div class="form-check mb-2">
          <input
            type="checkbox"
            class="form-check-input"
            checked
            id="filter-five"
          />
          <label class="form-check-label" for="filter-five"> Inactive </label>
        </div>
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            checked
            id="filter-six"
          />
          <label class="form-check-label" for="filter-six"> Loyal </label>
        </div>
      </div>
    </div>
  </div>
  <!--end col-->

  <div class="col-auto">
    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#addBoard"
    >
      <i class="fa-solid fa-plus me-1"></i> Add Product
    </button>
  </div>
  <!--end col-->
</form>
