<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-title">Contacts</h4>
          </div>
          <!--end col-->
          <div class="col-auto">
            <contact-filter />
          </div>
          <!--end col-->
        </div>
        <!--end row-->
      </div>
      <!--end card-header-->
      <div class="card-body pt-0">
        <contact-table />
      </div>
    </div>
  </div>
</div>
