<div class="row row-cols-3 d-flex justify-content-md-between">
  <div class="col-md-3 d-print-flex align-self-center">
    <div class="">
      <span class="badge rounded text-dark bg-light">Invoice to</span>
      <h5 class="my-1 fw-semibold fs-18">Michael Reyes</h5>
      <p class="text-muted">&#64;Michael_Reyes|+1 123 456 789</p>
    </div>
  </div>
  <!--end col-->
  <div class="col-md-3 d-print-flex align-self-center">
    <div class="">
      <address class="fs-13">
        <strong class="fs-14">Billed To :</strong><br />
        854 Ave Folsom <br />
        San Francisco, CA 36925<br />
        <abbr title="Phone">P:</abbr> (123) 456-7890
      </address>
    </div>
  </div>
  <!--end col-->
  <div class="col-md-3 d-print-flex align-self-center">
    <div class="">
      <address class="fs-13">
        <strong class="fs-14">Shipped To:</strong><br />
        795 Folsom Ave<br />
        San Francisco, CA 94107<br />
        <abbr title="Phone">P:</abbr> (123) 456-7890
      </address>
    </div>
  </div>
  <!--end col-->
</div>
<!--end row-->
