.autocomplete-results {
  position: absolute;
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
  z-index: 100;
  background-color: white;
  border-radius: 0.25rem;
  border: 1px solid #dee2e6;
  margin-top: 5px;
}

.table-container {
  max-height: 400px;
  overflow-y: auto;
}

.removed-items {
  max-height: 200px;
  overflow-y: auto;
}

/* Styles pour l'impression */
.no-print {
  @media print {
    display: none !important;
  }
}

#print-section {
  display: none;
}

@media print {
  button {
    display: none !important;
  }

  .removed-items,
  .alert-warning {
    display: none !important;
  }

  .card {
    border: none !important;
    box-shadow: none !important;
  }

  .card-body {
    padding: 0 !important;
  }
}
