<div class="row g-3">
  <div class="col-md-6 col-lg-4">
    <div class="card mb-3 mb-lg-0">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col text-center">
            <span class="fs-24 text-danger fw-normal">38</span>
            <h6 class="text-uppercase fs-12 text-muted mt-2 m-0">Ongoing</h6>
          </div>
          <!--end col-->
        </div>
      </div>
      <!--end card-body-->
    </div>
    <!--end card-body-->
  </div>
  <!--end col-->
  <div class="col-md-6 col-lg-4">
    <div class="card mb-3 mb-lg-0">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col text-center">
            <span class="fs-24 text-warning fw-normal">41</span>
            <h6 class="text-uppercase fs-12 text-muted mt-2 m-0">Process</h6>
          </div>
          <!--end col-->
        </div>
      </div>
      <!--end card-body-->
    </div>
    <!--end card-body-->
  </div>
  <!--end col-->
  <div class="col-md-6 col-lg-4">
    <div class="card mb-3 mb-lg-0">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col text-center">
            <span class="fs-24 text-success fw-normal">40.8%</span>
            <h6 class="text-uppercase fs-12 text-muted mt-2 m-0">Completed</h6>
          </div>
          <!--end col-->
        </div>
      </div>
      <!--end card-body-->
    </div>
    <!--end card-->
  </div>
  <!--end col-->
</div>
<!--end row-->
<div class="p-3 border-info border-dashed bg-info-subtle mt-3 rounded">
  <div class="row d-flex justify-content-center">
    <div class="col">
      <div class=" ">
        <a href="javascript:void(0);" class="fw-bold me-1"
          >You've almost reached your goal</a
        >
        75% of your goals are completed just complate 25% of remaining goals to
        achieve your target.
      </div>
      <div class="row mt-3 g-2">
        <div class="col col-md-12 col-lg-6">
          <div class="">
            <p class="text-dark mb-2 fw-semibold fs-13">All Members</p>
            <div class="img-group d-flex">
              <a
                class="user-avatar position-relative d-inline-block"
                href="javascript:void(0);"
              >
                <img
                  src="assets/images/users/avatar-1.jpg"
                  alt="avatar"
                  class="thumb-md shadow-sm rounded-circle"
                />
              </a>
              <a
                class="user-avatar position-relative d-inline-block ms-n2"
                href="javascript:void(0);"
              >
                <img
                  src="assets/images/users/avatar-2.jpg"
                  alt="avatar"
                  class="thumb-md shadow-sm rounded-circle"
                />
              </a>
              <a
                class="user-avatar position-relative d-inline-block ms-n2"
                href="javascript:void(0);"
              >
                <img
                  src="assets/images/users/avatar-4.jpg"
                  alt="avatar"
                  class="thumb-md shadow-sm rounded-circle"
                />
              </a>
              <a
                class="user-avatar position-relative d-inline-block ms-n2"
                href="javascript:void(0);"
              >
                <img
                  src="assets/images/users/avatar-5.jpg"
                  alt="avatar"
                  class="thumb-md shadow-sm rounded-circle"
                />
              </a>
              <a
                class="user-avatar position-relative d-inline-block ms-n2"
                href="javascript:void(0);"
              >
                <img
                  src="assets/images/users/avatar-4.jpg"
                  alt="avatar"
                  class="thumb-md shadow-sm rounded-circle"
                />
              </a>
              <a
                class="user-avatar position-relative d-inline-block ms-n2"
                href="javascript:void(0);"
              >
                <img
                  src="assets/images/users/avatar-6.jpg"
                  alt="avatar"
                  class="thumb-md shadow-sm rounded-circle"
                />
              </a>
              <a
                href=""
                class="user-avatar position-relative d-inline-block ms-1"
              >
                <span
                  class="thumb-md shadow-sm justify-content-center d-flex align-items-center bg-info-subtle rounded-circle fw-semibold fs-6"
                  >+80</span
                >
              </a>
            </div>
          </div>
        </div>
        <!--end col-->
        <div class="col col-md-12 col-lg-6 align-self-center">
          <span
            class="badge rounded text-primary bg-transparent border border-primary mb-2 p-1"
            >Senior team leader interview</span
          >
          <p class="text-dark fw-semibold fs-13">
            15 Aug {{ currentYear }}, AM-10:15
          </p>
        </div>
        <!--end col-->
      </div>
      <!--end row-->
    </div>
    <!--end col-->
    <div class="col-auto align-self-center">
      <button type="button" class="btn btn-primary px-3 btn-sm mt-2">
        View All
      </button>
    </div>
    <!--end col-->
  </div>
  <!--end row-->
</div>
