<div class="card">
  <div class="card-body">
    <div class="text-center border-dashed-bottom pb-3">
      <img
        [src]="team.logo"
        alt=""
        height="80"
        class="rounded-circle d-inline-block"
      />
      <h5 class="m-0 fw-bold mt-2 fs-20">{{ team.team }}</h5>
      <p class="text-muted mb-0">&#64;karen</p>

      <div class="img-group d-flex justify-content-center mt-3">
        @for (
          member of team.members;
          track $index;
          let first = $first;
          let last = $last
        ) {
          @if (
            (team.members.length >= 6 && $index < 5) ||
            (team.members.length < 6 && $index < team.members.length - 1)
          ) {
            <a
              class="user-avatar position-relative d-inline-block"
              [ngClass]="{ 'ms-n2': !first }"
              href="javascript:void(0);"
            >
              <img
                [src]="member"
                alt="avatar"
                class="thumb-md shadow-sm rounded-circle"
              />
            </a>
          }
        }
        @if (team.members.length >= 2) {
          <a href="" class="user-avatar position-relative d-inline-block ms-1">
            <span
              class="thumb-md shadow-sm justify-content-center d-flex align-items-center bg-info-subtle rounded-circle fw-semibold fs-6"
            >
              +{{
                team.members.length >= 6 ? team.members.length - 5 : 1
              }}</span
            >
          </a>
        }
      </div>
      <p class="text-muted mt-3 mb-0">{{ team.description }}</p>
    </div>
    <div class="row mt-3 align-items-center">
      <div class="col-auto col-md-6">
        <div class="d-flex align-items-center">
          <img
            [src]="team.leader.avatar"
            class="me-2 align-self-center thumb-lg rounded"
            alt="..."
          />
          <div class="flex-grow-1 text-truncate">
            <h6 class="m-0 text-truncate fs-14 fw-bold">
              {{ team.leader.name }}
            </h6>
            <p class="font-12 mb-0 text-muted">{{ team.leader.role }}</p>
          </div>
          <!--end media body-->
        </div>
      </div>
      <div class="col col-md-6 text-end align-self-center">
        <small class="text-end">{{ team.percentage }}%</small>
        <ngb-progressbar-stacked
          class="progress bg-secondary-subtle"
          style="height: 5px"
        >
          <ngb-progressbar
            class="progress-bar bg-secondary rounded-pill"
            [value]="service.dividePercentage(team.percentage)"
            style="margin-right: 2px; height: 5px"
          ></ngb-progressbar>
          <ngb-progressbar
            class="progress-bar bg-secondary rounded-pill"
            [value]="service.dividePercentage(team.percentage)"
            style="margin-right: 2px; height: 5px"
          ></ngb-progressbar>
          <ngb-progressbar
            class="progress-bar bg-secondary rounded-pill"
            [value]="service.dividePercentage(team.percentage)"
            style="margin-right: 2px; height: 5px"
          ></ngb-progressbar>
        </ngb-progressbar-stacked>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
    <div class="mt-3 text-center">
      <a
        routerLink="/apps/chat"
        class="btn btn-outline-primary px-2 d-inline-flex align-items-center"
        ><i class="iconoir-chat-bubble fs-14 me-1"></i>Message</a
      >
    </div>
  </div>
  <!--end card-body-->
</div>
<!--end card-->
