<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body bg-black">
        <div class="row">
          <div class="col-4 align-self-center">
            <img
              src="assets/images/logo-sm.png"
              alt="logo-small"
              class="logo-sm me-1"
              height="70"
            />
          </div>
          <!--end col-->
          <div class="col-8 text-end align-self-center">
            <h5 class="mb-1 fw-semibold text-white">
              <span class="text-muted">Invoice:</span> #BBN2351D458
            </h5>
            <h5 class="mb-0 fw-semibold text-white">
              <span class="text-muted">Issue Date:</span> 20/07/{{
                currentYear
              }}
            </h5>
          </div>
          <!--end col-->
        </div>
        <!--end row-->
      </div>
      <!--end card-body-->
      <div class="card-body">
        <invoice-address />

        <invoice-product />

        <invoice-terms />

        <hr />
        <div class="row d-flex justify-content-center">
          <div class="col-lg-12 col-xl-4 ms-auto align-self-center">
            <div class="text-center">
              <small class="fs-12"
                >Thank you very much for doing business with us.</small
              >
            </div>
          </div>
          <!--end col-->
          <div class="col-lg-12 col-xl-4">
            <div class="float-end d-print-none mt-2 mt-md-0">
              <a href="javascript:window.print()" class="btn btn-info me-0.5"
                >Print</a
              >
              <a href="javascript:void(0);" class="btn btn-primary me-0.5"
                >Submit</a
              >
              <a href="javascript:void(0);" class="btn btn-danger">Cancel</a>
            </div>
          </div>
          <!--end col-->
        </div>
        <!--end row-->
      </div>
    </div>
  </div>
</div>
