
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-title">
              <i class="las la-file-invoice-dollar me-2"></i>Colis en attente de facturation
            </h4>
          </div>
          <div class="col-auto">
            <button class="btn btn-primary" (click)="onCreateFacture()">
              <i class="las la-plus me-1"></i>Nouvelle facture
            </button>

          </div>
        </div>
      </div>
      <div class="card-body pt-0">
        <app-colis-facturation-table />
      </div>
    </div>
  </div>
</div>
