<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-title">Users Details</h4>
          </div>
          <!--end col-->
          <div class="col-auto">
            <button class="btn bg-primary-subtle text-primary me-0.5">
              <i class="fas fa-plus me-1"></i> Add User
            </button>
            <button class="btn btn-primary">
              <i class="fas fa-plus me-1"></i> Invite User
            </button>
          </div>
          <!--end col-->
        </div>
        <!--end row-->
      </div>
      <!--end card-header-->
      <div class="card-body pt-0">
        <app-table-header />
        <div class="table-responsive">
          <table class="table mb-0" id="datatable_1">
            <thead class="table-light">
              <tr>
                <th scope="col" sortable="name" (sort)="onSort($event)">
                  Name
                </th>
                <th scope="col" sortable="id" (sort)="onSort($event)">ID</th>
                <th scope="col" sortable="role" (sort)="onSort($event)">
                  Roal
                </th>
                <th scope="col" sortable="last_active" (sort)="onSort($event)">
                  Last activity
                </th>
                <th scope="col" sortable="status" (sort)="onSort($event)">
                  Status
                </th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              @for (usr of users$ | async; track $index) {
                <tr>
                  <td class="d-flex align-items-center">
                    <div class="d-flex align-items-center">
                      <img
                        [src]="usr.image"
                        class="me-2 thumb-md align-self-center rounded"
                        alt="..."
                      />
                      <div class="flex-grow-1 text-truncate">
                        <h6 class="m-0">{{ usr.name }}</h6>
                        <a
                          href="javascript:void(0);"
                          class="fs-12 text-primary"
                          >{{ usr.email }}</a
                        >
                      </div>
                      <!--end media body-->
                    </div>
                  </td>
                  <td>{{ usr.id }}</td>
                  <td>
                    <a
                      href="javascript:void(0);"
                      class="text-body text-decoration-underline"
                      >{{ usr.role }}</a
                    >
                  </td>
                  <td>{{ usr.last_active }}</td>
                  <td>
                    <span
                      class="badge rounded"
                      [ngClass]="
                        usr.status == 'Active'
                          ? 'text-success bg-success-subtle'
                          : 'text-secondary bg-secondary-subtle'
                      "
                      >{{ usr.status }}</span
                    >
                  </td>
                  <td class="text-end">
                    <a href="javascript:void(0);"
                      ><i class="las la-pen text-secondary fs-18 me-0.5"></i
                    ></a>
                    <a href="javascript:void(0);"
                      ><i class="las la-trash-alt text-secondary fs-18"></i
                    ></a>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
        <app-table-footer [total]="total$" />
      </div>
    </div>
  </div>
</div>
