<div class="row">
  <div class="col-md-12 col-lg-4">
    <ecommerce-state />
  </div>
  <!--end col-->
  <div class="col-md-12 col-lg-8">
    <ecommerce-monthly-average />
  </div>
  <!--end col-->
</div>
<!--end row-->
<div class="row justify-content-center">
  <div class="col-md-6 col-lg-8">
    <ecommerce-popular-product />
  </div>
  <!--end col-->

  <div class="col-md-6 col-lg-4">
    <ecommerce-customers />
  </div>
  <!--end col-->
</div>
<!--end row-->
<div class="row justify-content-center">
  <div class="col-md-6 col-lg-4">
    <ecommerce-top-selling />
  </div>
  <!--end col-->
  <div class="col-md-6 col-lg-4">
    <ecommerce-categories />
  </div>
  <!--end col-->

  <div class="col-md-6 col-lg-4">
    <ecommerce-recent-order />
  </div>
  <!--end col-->
</div>
<!--end row-->
